[user]
	name = Piotr Findeisen
	email = piotr.findeisen@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	up = "!git update-index -q --refresh; if git diff-index --quiet --cached HEAD --ignore-submodules -- && git diff-files --quiet --ignore-submodules; then git pull --rebase; else git stash && { git pull --rebase ; git stash pop; }; fi"
	st = status
	ci = commit -v
	di = diff
	dc = diff --cached
	sync = "! git pull --rebase && git pu "
	co = checkout
	br = branch
	apply-patches = am --signoff --3way --whitespace=error
	cp = cherry-pick
	cpi = cherry-pick -X ignore-all-space
	fetch = fetch --prune
	showr = show --notes=refs/notes/review
[gui]
	fontui = -family \"nimbus sans l\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	diffcontext = 4
[diff]
	noprefix = true
[rebase]
	autosquash = yes
[push]
	default = nothing
