[user]
	name = Piotr Findeisen
	email = piotr.findeisen@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[alias]
	ap = add -p
	apply-patches = am --signoff --3way --whitespace=error
	br = branch
	chpr = cherry-pr
	ci = commit -v
	co = checkout
	cp = cherry-pick
	cpi = cherry-pick -X ignore-all-space
	dc = diff --cached
	di = diff
	fetch = fetch --prune
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	llg = locallog
	rc = rebase --continue
	showr = show --notes=refs/notes/review
	st = status
	sync = "! git pull --rebase && git pu "
	up = "!git update-index -q --refresh; if git diff-index --quiet --cached HEAD --ignore-submodules -- && git diff-files --quiet --ignore-submodules; then git pull --rebase; else git stash && { git pull --rebase ; git stash pop; }; fi"
	dlb = delete-local-branch
[gui]
	fontui = -family \"nimbus sans l\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	diffcontext = 4
[diff]
	noprefix = true
[rebase]
	autosquash = yes
[push]
	default = nothing
[core]
#	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
	prune = true
[remote "origin"]
	tagOpt = --tags
